<div class="section-contact" id="section-contacts">
    <div class="contacts">
        <div class="contacts__map" id="yandex-map"></div>
        <div class="contacts__details" id="yandex-map">
            {{> contactCard }}
        </div>
    </div>
</div>