<article class="advantage {{ class }}">
    <header class="advantage__header">
        <div class="advantage__icon">
            <svg>
                <use href="#{{ advantage.icon }}"></use>
            </svg>
        </div>
        <h2 class="advantage__title">{{ advantage.title }}</h2>
    </header>
    <footer class="advantage__footer">
        <p class="advantage__description">{{ advantage.description }}</p>
    </footer>
</article>