<div class="contact-card">
    <h2 class="contact-card__title">Наши контакты</h2>
    <div class="detail">
        <i class="detail__icon icon icon-call"></i>
        <div class="detail__info">
            <div class="detail__item"><a href="tel:8 800 034-23-34">8 800 034-23-34</a></div>
            <div class="detail__item"><a href="tel:8 495 034-23-34">8 495 034-23-34</a></div>
        </div>
    </div>

    <div class="detail">
        <i class="detail__icon icon icon-emailmailmarkunreadlocal_post_office"></i>
        <div class="detail__info">
            <div class="detail__item"><a href="mailto:support@granit.ru">support@granit.ru</a></div>
            <div class="detail__item"><a href="mailto:ads@granit.ru">ads@granit.ru</a></div>
        </div>
    </div>
    <div class="detail">
        <i class="detail__icon icon icon-location_onplaceroom"></i>
        <div class="detail__info">
            <div class="detail__item">
                Московская обл. г. Балашиха, <br>
                пер. Столовой, д.23, кор. 34
            </div>
        </div>
    </div>
</div>