<div class="logo {{ truefalse type true="logo_light"}}">
    <a href="/" class="logo__link">
        <div class="logo__icon">
            <svg>
                <use href="#{{ logo.icon }}"></use>
            </svg>
        </div>
        <div class="logo__info">
            <div class="logo__title">{{ logo.title }}</div>
            <div class="logo__slogan">{{ logo.slogan }}</div>
        </div>
    </a>
</div>