<article class="service-card {{ class }}">
    <header class="service-card__header">
        <div class="service-card__icon">
            <svg>
                <use href="{{ car.img }}"></use>
            </svg>
        </div>
    </header>
    <footer class="service-card__footer">
        <h2 class="service-card__title">{{ car.title }}</h2>
    </footer>
</article>