<div hidden style="display: none;">
    <?xml version="1.0" encoding="iso-8859-1"?>
    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="crane" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 479.512 479.512"
        style="enable-background:new 0 0 479.512 479.512;" xml:space="preserve">
        <g>
            <g id="iconos_42_">
                <path d="M474.037,438.871v-31.078c0-21.124-12.346-33.469-33.469-33.469H230.193c-28.391,0-43.031,13.445-43.031,33.469v40.344
    			c0,20.914,14.047,31.375,43.031,31.375h210.375C461.691,479.512,474.037,465.465,474.037,438.871z M435.787,441.262H225.412
    			v-28.688h210.375V441.262z" />
                <path d="M311.475,154.387v9.562v81.96l0,0v0.01l12.183,32.78h-20.502L103.127,0L59.053,26.584l13.359,23.418v123.509H58.298
    			l9.486,66.938h4.15h0.478v20.225c-8.606,3.911-18.169,12.307-18.169,27.387c0,10.127,3.95,17.519,9.725,22.453l-51.857,44.686
    			h14.65l45.929-39.579c4.16,1.626,8.606,2.524,13.005,2.524c4.418,0,8.807-1.176,12.766-3.309l49.792,40.363h14.927l0.105-0.134
    			l-57.279-46.426c3.882-4.677,6.455-10.949,6.455-18.973c0-5.288-4.284-9.562-9.562-9.562c-5.279,0-9.562,4.274-9.562,9.562
    			c0,3.434-0.928,5.585-2.142,6.972l-2.62-2.123c-1.788-1.444-4.38-1.425-6.129,0.096l-3.586,3.089
    			c-3.099-1.435-5.489-4.246-5.489-9.63c0-8.645,8.578-10.738,10.194-11.045c4.609-0.793,7.975-4.771,7.975-9.438v-27.139h6.694
    			h3.92l13.378-66.938h-9.648H101.1v-69.405l114.75,220.846v1.521v2.878v6.723h38.25v19.125h133.875h9.562v-19.125h47.812h9.562
    			V154.387H311.475z M228.759,204.112l0.115,0.163l-39.015,25.389l20.062-51.466L228.759,204.112z M91.537,173.512h-4.781h-4.781
    			V68.037l9.562,18.035V173.512z M99.856,76.032L83.352,44.686l25.733-16.916L99.856,76.032z M122.233,47.296l18.341,31.824
    			l-29.605,19.068L122.233,47.296z M125.168,116.471l27.894-18.14l-10.92,49.677L125.168,116.471z M164.853,114.54l20.569,29.997
    			l-30.925,19.804L164.853,114.54z M161.678,187.196l34.559-23.677l-19.68,52.708L161.678,187.196z M212.828,278.125l-16.667-29.414
    			l41.376-29.548L212.828,278.125z M225.813,299.02l28.286-60.961l23.008,31.375L225.813,299.02z M416.662,250.012h-66.938v-57.375
    			h66.938V250.012z" />
                <polygon points="15.037,412.574 5.475,412.574 5.475,431.699 158.475,431.699 158.475,412.574 139.35,412.574 139.35,393.449 
    			139.35,383.887 158.475,383.887 158.475,364.762 5.475,364.762 5.475,383.887 24.6,383.887 24.6,412.574 		" />
            </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
    </svg>

    <?xml version="1.0" encoding="iso-8859-1"?>
    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="piggy-bank" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
            <g>
                <path d="M422.503,270.613c-4.115,0-7.451,3.336-7.451,7.451c0,5.217-4.244,9.461-9.461,9.461c-5.216,0-9.461-4.244-9.461-9.461
    			c0-4.116-3.336-7.451-7.451-7.451s-7.451,3.336-7.451,7.451c0,13.434,10.93,24.363,24.363,24.363
    			c13.433,0,24.363-10.93,24.363-24.363C429.954,273.947,426.618,270.613,422.503,270.613z" />
            </g>
        </g>
        <g>
            <g>
                <path
                    d="M492.444,271.83l-20.972-6.718c-2.686-0.861-4.803-3.005-5.662-5.736c-4.42-14.053-11.09-27.246-19.825-39.214
    			c-3.981-5.455-8.408-10.664-13.244-15.623c3.094-13.573,4.776-28.934,4.558-42.205c-0.312-18.985-4.106-30.12-11.598-34.044
    			c-4.035-2.116-16.315-8.544-82.782,21.882c-1.574,0.72-3.044,1.607-4.405,2.623c-4.481-1.204-9.061-2.318-13.669-3.318
    			c-0.555-0.121-1.127-0.228-1.686-0.346c5.386-11.766,8.531-24.545,9.122-37.737c0.184-4.112-2.999-7.594-7.111-7.777
    			c-4.101-0.204-7.594,2.998-7.777,7.11c-0.971,21.691-9.969,42.1-25.335,57.467c-9.181,9.181-19.931,15.85-31.388,20.05
    			c-19.869-2.788-40.107-2.788-59.976,0c-11.458-4.2-22.207-10.869-31.388-20.05c-16.394-16.394-25.423-38.191-25.423-61.376
    			c0-23.186,9.029-44.982,25.423-61.376c16.394-16.395,38.192-25.424,61.376-25.424c23.184,0,44.982,9.029,61.376,25.424
    			c6.588,6.588,12.032,14.106,16.181,22.343c1.851,3.676,6.332,5.156,10.007,3.304c3.676-1.85,5.155-6.331,3.304-10.006
    			c-4.863-9.659-11.24-18.466-18.953-26.18c-19.209-19.209-44.749-29.788-71.914-29.788c-27.165,0-52.705,10.579-71.914,29.788
    			c-19.209,19.21-29.788,44.749-29.788,71.914s10.579,52.705,29.788,71.914c5.541,5.541,11.569,10.306,17.945,14.298
    			c0.002,0,0.004-0.001,0.006-0.001c-4.633,1.204-9.231,2.556-13.778,4.076c-3.903,1.305-6.009,5.526-4.704,9.43
    			c1.304,3.903,5.527,6.009,9.429,4.705c40.636-13.585,85.396-13.585,126.032,0c0.784,0.262,1.58,0.386,2.363,0.386
    			c3.117,0,6.023-1.972,7.066-5.091c1.305-3.903-0.801-8.125-4.704-9.43c-4.547-1.52-9.145-2.873-13.778-4.076
    			c0.002,0,0.004,0.001,0.006,0.001c6.377-3.992,12.404-8.757,17.945-14.298c4.902-4.902,9.229-10.255,12.986-15.944
    			c2.054,0.399,4.093,0.817,6.102,1.253c2.676,0.581,5.34,1.205,7.98,1.86c-0.083,0.324-0.168,0.647-0.237,0.976
    			c-3.634,17.245-3.398,32.497,0.701,45.33c3.684,11.535,10.333,20.88,19.76,27.777c11.111,8.128,24.525,11.639,36.676,11.639
    			c9.145,0,17.576-1.99,23.768-5.497c7.004-3.967,12.872-12.326,17.517-24.876c2.147,2.506,4.182,5.073,6.1,7.701
    			c7.777,10.654,13.714,22.396,17.646,34.898c2.309,7.343,8.041,13.121,15.332,15.458l20.972,6.718
    			c5.503,1.763,9.2,6.828,9.2,12.606v34.775c0,5.778-3.697,10.843-9.2,12.606l-33.789,10.823
    			c-5.406,1.733-9.981,5.448-12.882,10.462c-13.275,22.942-34.146,41.927-62.037,56.428c-3.222,1.677-5.454,4.676-6.126,8.23
    			l-10.822,57.303c-0.299,1.579-1.682,2.724-3.289,2.724h-35.187c-1.607,0-2.99-1.146-3.289-2.724l-5.994-31.669
    			c-1.18-6.231-7.024-10.37-13.314-9.417c-15.157,2.292-30.775,3.453-46.418,3.453c-11.638,0-23.127-0.649-34.15-1.93
    			c-6.095-0.701-11.773,3.454-12.912,9.472l-5.696,30.091c-0.299,1.579-1.682,2.724-3.289,2.724h-35.187
    			c-1.607,0-2.99-1.146-3.293-2.748l-10.42-54.122c-0.671-3.487-2.861-6.452-6.012-8.135C96.25,401.595,71.12,359.191,71.12,304.351
    			c0-27.708,6.062-52.209,18.017-72.825c11.156-19.239,27.45-35.146,48.429-47.281c3.562-2.061,4.779-6.619,2.719-10.182
    			c-2.06-3.562-6.618-4.777-10.181-2.719C89.425,194.876,64.89,231.18,58.135,277.29v-0.001c-0.717-0.065-1.435-0.127-2.15-0.201
    			c0.13-4.975-0.77-9.995-2.73-14.867c-4.323-10.746-13.203-18.502-22.624-19.759c-7.424-0.994-14.489,2.158-19.392,8.636
    			c-7.109,9.394-5.95,16.828-3.727,21.41c3.753,7.733,13.4,13.203,29.409,16.642c-0.44,0.659-0.924,1.321-1.454,1.986
    			c-9.459,11.863-20.603,14.486-27.839,14.733C3.392,306.012,0,309.413,0,313.652v0.036c0,4.181,3.299,7.591,7.476,7.782
    			c0.535,0.025,1.094,0.038,1.676,0.038c9.156,0,23.851-3.377,37.969-21.08c2.229-2.794,4.045-5.742,5.441-8.788
    			c1.406,0.159,2.757,0.295,4.051,0.415c0-0.003,0-0.005,0.001-0.008c-0.254,4.038-0.395,8.135-0.395,12.304
    			c0,31.028,7.397,58.693,21.984,82.23c13.45,21.7,32.707,39.468,57.255,52.83l10.13,52.616c1.629,8.608,9.17,14.856,17.931,14.856
    			h35.187c8.761,0,16.302-6.248,17.931-14.856l5.15-27.208c10.696,1.133,21.77,1.707,32.965,1.707c15.36,0,30.702-1.07,45.654-3.182
    			l5.429,28.685c1.63,8.608,9.171,14.855,17.931,14.855h35.187c8.761,0,16.302-6.248,17.932-14.859l10.537-55.791
    			c29.768-15.741,52.206-36.419,66.704-61.475c1.045-1.806,2.654-3.131,4.53-3.732l33.788-10.823
    			C504.141,356.455,512,345.686,512,333.403v-34.775C512,286.346,504.141,275.577,492.444,271.83z M421.278,183.273
    			c-2.868,24.526-10.561,45.506-18.291,49.884c-8.786,4.977-29.071,5.938-44.301-5.203c-15.248-11.154-20.323-31.212-14.678-58.006
    			c0-0.001,0-0.001,0-0.001c0.567-2.691,2.479-5.019,5.114-6.225c37.304-17.076,58.811-22.661,66.801-22.661
    			c1.206,0,2.104,0.127,2.702,0.361C421.025,143.98,424.173,158.521,421.278,183.273z M20.921,266.001
    			c-0.771-1.59,1.049-4.385,2.203-5.911c1.829-2.416,3.514-2.91,4.787-2.91c0.269,0,0.52,0.022,0.75,0.053
    			c3.426,0.457,8.226,4.227,10.769,10.548c0.599,1.488,1.377,3.953,1.559,7.027C30.674,272.671,22.66,269.59,20.921,266.001z" />
            </g>
        </g>
        <g>
            <g>
                <path d="M237.918,98.277V71.613c9.195,0.657,12.611,4.86,15.763,4.86c3.941,0,5.78-4.991,5.78-7.487
    			c0-6.437-12.611-9.195-21.543-9.458V55.98c0-1.576-1.971-3.021-3.941-3.021c-2.234,0-3.81,1.445-3.81,3.021v3.809
    			c-12.479,1.314-24.958,7.882-24.958,24.433c0,16.814,13.136,21.543,24.958,25.746v30.869
    			c-13.399-1.051-16.945-10.246-21.28-10.246c-3.284,0-6.042,4.335-6.042,7.488c0,6.436,11.034,15.237,27.322,15.5h0v4.072
    			c0,1.576,1.577,3.021,3.81,3.021c1.971,0,3.941-1.445,3.941-3.021v-4.466c14.187-1.971,23.907-10.903,23.907-27.06
    			C261.825,108.261,249.346,102.48,237.918,98.277z M230.955,95.782c-6.962-2.627-12.61-5.385-12.61-12.872
    			c0-6.831,5.254-10.115,12.61-11.034V95.782z M237.129,140.574v-27.716c6.436,2.758,11.559,6.436,11.559,14.711
    			C248.688,135.058,244.222,139.261,237.129,140.574z" />
            </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
    </svg>

    <?xml version="1.0"?>
    <svg id="trucking" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <g id="tracking">
            <path
                d="M61.707,34.293,49.293,21.879A2.978,2.978,0,0,0,47.171,21H30v2h5V38h2V23H47.171a1,1,0,0,1,.708.293L49.586,25H45a2,2,0,0,0-2,2v9a2,2,0,0,0,2,2H60v8a1,1,0,0,1-1,1H56.92a6.991,6.991,0,0,0-13.84,0H28.92a6.991,6.991,0,0,0-13.84,0H13a1,1,0,0,1-1-1V37H10v9a3,3,0,0,0,3,3h2.08a6.978,6.978,0,0,0,2.031,4H2v2H50a7.006,7.006,0,0,0,6.92-6H59a3,3,0,0,0,3-3V35A1,1,0,0,0,61.707,34.293ZM17,48a5,5,0,1,1,5,5A5.006,5.006,0,0,1,17,48Zm9.889,5a6.978,6.978,0,0,0,2.031-4H43.08a6.978,6.978,0,0,0,2.031,4ZM50,53a5,5,0,1,1,5-5A5.006,5.006,0,0,1,50,53ZM45,36V27h6.586L60,35.414V36Z" />
            <rect x="21" y="47" width="2" height="2" />
            <rect x="49" y="47" width="2" height="2" />
            <rect x="2" y="44" width="5" height="2" />
            <rect x="4" y="40" width="3" height="2" />
            <rect x="5" y="36" width="2" height="2" />
            <path d="M15,35A13,13,0,1,0,2,22,13.015,13.015,0,0,0,15,35Zm0-24A11,11,0,1,1,4,22,11.013,11.013,0,0,1,15,11Z" />
            <path
                d="M15,31a1,1,0,0,0,.707-.293C16.351,30.063,22,24.29,22,20A7,7,0,0,0,8,20c0,4.29,5.649,10.063,6.293,10.707A1,1,0,0,0,15,31Zm0-16a5.006,5.006,0,0,1,5,5c0,2.566-3.147,6.531-5,8.551-1.853-2.02-5-5.985-5-8.551A5.006,5.006,0,0,1,15,15Z" />
            <path d="M18,20a3,3,0,1,0-3,3A3,3,0,0,0,18,20Zm-4,0a1,1,0,1,1,1,1A1,1,0,0,1,14,20Z" />
            <rect x="40" y="40" width="4" height="2" />
        </g>
    </svg>

    <?xml version="1.0" encoding="iso-8859-1"?>
    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="wheelbarrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 295.237 295.237" style="enable-background:new 0 0 295.237 295.237;" xml:space="preserve">
        <g>
            <g>
                <g>
                    <path d="M252.381,208.826c-9.438,0-18.143,3.1-25.229,8.29l-16.329-17.814h21.005l33.333-85.714h15.79v-9.524h-26.067
    				l-29.319-42.643l14.5-14.5L228.16,35.016L255.746,7.43l-6.733-6.733l-27.586,27.586l-11.905-11.905L192.66,33.245
    				c-8.381-3.5-17.095-5.371-25.995-5.371c-22.443,0-43.429,11.038-56.143,29.533l-32.076,46.657H66.614l-16-33.333H0v9.524h44.624
    				l57.143,119.048h11.038L97.29,255.798c-1.362,4.952-2.052,10.062-2.052,15.19c0,12.986,10.567,23.552,23.548,23.552
    				c7.676,0,14.89-3.757,19.295-10.048l59.638-85.19h0.19l22.224,24.248c-6.586,7.533-10.61,17.362-10.61,28.133
    				c0,23.629,19.224,42.857,42.857,42.857s42.857-19.229,42.857-42.857S276.014,208.826,252.381,208.826z M190.476,54.812
    				c0-3.762,1.524-7.443,4.186-10.1l14.862-14.867L226.6,46.921l-14.862,14.867c-2.7,2.695-6.286,4.181-10.105,4.181h-11.157V54.812
    				z M118.371,62.798c10.933-15.905,28.99-25.4,48.295-25.4c6.476,0,12.857,1.1,19.048,3.271c-3.043,4.081-4.762,8.962-4.762,14.143
    				v20.681h20.681c6.362,0,12.343-2.476,16.838-6.971l0.248-0.248l24.61,35.79H90.005L118.371,62.798z M130.276,279.036
    				c-2.619,3.743-6.919,5.981-11.49,5.981c-7.733,0-14.024-6.29-14.024-14.029c0-4.276,0.576-8.538,1.705-12.671l16.21-59.014
    				h63.414L130.276,279.036z M190.476,189.778h-82.719l-36.571-76.19H71.9h183.048l-29.629,76.19h-23.224H190.476z M252.381,285.017
    				c-18.376,0-33.333-14.952-33.333-33.333c0-7.995,2.833-15.338,7.543-21.086l9.843,10.738c-1.948,2.981-3.1,6.529-3.1,10.348
    				c0,10.505,8.543,19.048,19.048,19.048s19.048-8.543,19.048-19.048s-8.543-19.048-19.048-19.048c-3.229,0-6.224,0.881-8.89,2.305
    				l-9.881-10.781c5.352-3.662,11.814-5.81,18.771-5.81c18.376,0,33.333,14.952,33.333,33.333
    				C285.715,270.064,270.757,285.017,252.381,285.017z M250.333,242.393c0.657-0.143,1.343-0.233,2.048-0.233
    				c5.252,0,9.524,4.271,9.524,9.524c0,5.252-4.271,9.524-9.524,9.524c-5.253,0-9.524-4.271-9.524-9.524
    				c0-0.99,0.195-1.924,0.476-2.824l5.538,6.042l7.024-6.438L250.333,242.393z" />
                    <rect x="95.238" y="123.112" width="9.524" height="9.524" />
                    <rect x="114.286" y="123.112" width="114.286" height="9.524" />
                </g>
            </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
    </svg>


    <svg  viewBox="0 0 64 64" id="delivery-truck" xmlns="http://www.w3.org/2000/svg"><path d="m42 36h4v2h-4z"/><path d="m11 48h2v2h-2z"/><path d="m25 48h2v2h-2z"/><path d="m48 48h2v2h-2z"/><path d="m61.31 31.574-4.863-9a3 3 0 0 0 -2.64-1.574h-14.807a1 1 0 0 0 -1 1v20h-2v-18a2.993 2.993 0 0 0 -2.675-2.967l-18.878-10.9a3 3 0 0 0 -4.4 3.374 2.972 2.972 0 0 0 .95 1.5v7.993h-4.997a1 1 0 0 0 -1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-12a1 1 0 0 0 -1-1h-5v-6.773l17 9.814v10.959a1 1 0 0 0 -.707.293l-1.707 1.707h-24.586a1 1 0 0 0 -1 1v8a2 2 0 0 0 2 2h2.09a5.993 5.993 0 0 0 11.82 0h2.18a5.993 5.993 0 0 0 11.82 0h11.18a5.993 5.993 0 0 0 11.82 0h4.09a3 3 0 0 0 3-3v-12.892a4.959 4.959 0 0 0 -.69-2.534zm-50.31-6.574h2v4h-2zm-2 0v2h-2v-2zm-2 10v-6h2v1a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-1h2v6zm10-8h-2v-2h2zm37.687-3.475 4.58 8.475h-15.267v-9h9.807a1 1 0 0 1 .88.525zm-16.687 20.475v4h-2v-4zm-25.918-31.768a1 1 0 0 1 1.365-.366l17.4 10.048a2.984 2.984 0 0 0 -.825 1.832l-17.575-10.146a1 1 0 0 1 -.365-1.368zm19.918 11.768a1 1 0 0 1 2 0v13h-2zm-20 29a4 4 0 1 1 4-4 4 4 0 0 1 -4 4zm14 0a4 4 0 1 1 4-4 4 4 0 0 1 -4 4zm0-10a6.006 6.006 0 0 0 -5.91 5h-2.18a5.993 5.993 0 0 0 -11.82 0h-2.09v-7h24a1 1 0 0 0 .707-.293l1.707-1.707h3.586v9h-2.09a6.006 6.006 0 0 0 -5.91-5zm23 10a4 4 0 1 1 4-4 4 4 0 0 1 -4 4zm10-5h-4.09a5.993 5.993 0 0 0 -11.82 0h-3.09v-25h2v10a1 1 0 0 0 1 1h16.985c0 .036.015.071.015.108v1.892h-4a2 2 0 0 0 -2 2v2a2 2 0 0 0 2 2h4v2h-3v2h3v1a1 1 0 0 1 -1 1zm1-10v2h-4v-2z"/></svg>

    <svg  viewBox="0 -16 480 480" id="excavator" xmlns="http://www.w3.org/2000/svg"><path d="m320 352h-256c-17.648438 0-32 14.351562-32 32s14.351562 32 32 32h256c17.648438 0 32-14.351562 32-32s-14.351562-32-32-32zm-16 32c0 8.824219-7.175781 16-16 16s-16-7.175781-16-16 7.175781-16 16-16 16 7.175781 16 16zm-224 0c0-8.824219 7.175781-16 16-16s16 7.175781 16 16-7.175781 16-16 16-16-7.175781-16-16zm43.550781-16h40.90625c-2.761719 4.726562-4.457031 10.144531-4.457031 16s1.695312 11.273438 4.449219 16h-40.90625c2.761719-4.726562 4.457031-10.144531 4.457031-16s-1.695312-11.273438-4.449219-16zm52.449219 16c0-8.824219 7.175781-16 16-16s16 7.175781 16 16-7.175781 16-16 16-16-7.175781-16-16zm43.550781-16h40.90625c-2.761719 4.726562-4.457031 10.144531-4.457031 16s1.695312 11.273438 4.449219 16h-40.90625c2.761719-4.726562 4.457031-10.144531 4.457031-16s-1.695312-11.273438-4.449219-16zm-171.550781 16c0-8.824219 7.175781-16 16-16h4.449219c-2.753907 4.726562-4.449219 10.144531-4.449219 16s1.695312 11.273438 4.449219 16h-4.449219c-8.824219 0-16-7.175781-16-16zm272 16h-4.449219c2.753907-4.726562 4.449219-10.144531 4.449219-16s-1.695312-11.273438-4.449219-16h4.449219c8.824219 0 16 7.175781 16 16s-7.175781 16-16 16zm0 0"/><path d="m435.328125 104.167969-102.113281-94.816407c-6.496094-6.023437-14.957032-9.351562-23.824219-9.351562h-2.375c-19.304687 0-35.015625 15.703125-35.015625 35.015625 0 4.398437.992188 8.601563 2.527344 12.570313l-197.582032 176.414062c-6.113281 0-11.59375 3.390625-14.3125 8.839844l-11.890624 23.777344c-10.703126 2.414062-18.742188 11.957031-18.742188 23.382812v32c0 5.320312 1.800781 10.199219 4.742188 14.183594-21.679688 10.265625-36.742188 32.289062-36.742188 57.816406 0 35.289062 28.710938 64 64 64h256c35.289062 0 64-28.710938 64-64 0-21.191406-10.398438-39.960938-26.320312-51.617188l-38.710938-113.3125c-5.519531-16.191406-20.746094-27.070312-37.847656-27.070312h-48.679688l89.480469-100.214844 70.078125 56.0625v12.152344c0 13.230469-10.769531 24-24 24h-12.945312l16.128906 32.246094c9.792968 19.585937 29.472656 31.753906 51.367187 31.753906 31.671875 0 57.449219-25.769531 57.449219-57.441406v-38.558594c0-25.34375-19.761719-46.113281-44.671875-47.832031zm-128.3125-88.167969h2.375c4.816406 0 9.410156 1.808594 12.9375 5.078125l98.144531 91.136719-21.066406 21.066406-104.261719-83.417969c-4.542969-3.632812-7.144531-9.039062-7.144531-14.847656 0-10.488281 8.527344-19.015625 19.015625-19.015625zm-179.015625 240h-59.054688l8-16h51.054688zm240 128c0 26.472656-21.527344 48-48 48h-256c-26.472656 0-48-21.527344-48-48s21.527344-48 48-48h256c26.472656 0 48 21.527344 48 48zm-160-96h83.878906l9.425782 32h-93.304688zm0-16v-32h69.753906l9.421875 32zm95.832031-47.761719 33.550781 98.226563c-5.535156-1.570313-11.351562-2.464844-17.382812-2.464844h-2.015625l-24.878906-84.511719c-1.992188-6.769531-8.304688-11.488281-15.351563-11.488281h-69.753906c-8.824219 0-16 7.175781-16 16v80h-136c-4.414062 0-8-3.59375-8-8v-32c0-4.40625 3.585938-8 8-8h110.246094l11.449218-45.824219c2.679688-10.695312 12.257813-18.175781 23.289063-18.175781h80.136719c10.261718 0 19.382812 6.527344 22.710937 16.238281zm-92.847656-32.238281h-10c-18.390625 0-34.34375 12.457031-38.808594 30.296875l-8.421875 33.703125h-9.753906v-16c0-8.824219-7.175781-16-16-16h-27.023438l182.695313-163.121094c.519531.472656.921875 1.03125 1.472656 1.480469l24.261719 19.417969zm211.566406 40c-15.796875 0-30-8.777344-37.0625-22.910156l-5.472656-10.9375c16.207031-5.113282 27.984375-20.28125 27.984375-38.152344v-12.6875l27.160156-27.160156c13.464844 1.320312 24.382813 11.070312 27.703125 23.839844h-30.863281v16h32v16h-32v16h31.855469c-.785157 22.175781-18.945313 40.007812-41.304688 40.007812zm0 0"/><path d="m320 40c0 4.417969-3.582031 8-8 8s-8-3.582031-8-8 3.582031-8 8-8 8 3.582031 8 8zm0 0"/></svg>

    <?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="truck"><g id="Truck"><path d="M46,44H44a1,1,0,0,1,0-2h2a1,1,0,0,1,0,2Z"/><path d="M49,52a3,3,0,1,0,3,3A3,3,0,0,0,49,52Zm0,4a1,1,0,1,1,1-1A1,1,0,0,1,49,56Z"/><path d="M15,52a3,3,0,1,0,3,3A3,3,0,0,0,15,52Zm0,4a1,1,0,1,1,1-1A1,1,0,0,1,15,56Z"/><path d="M61,52H60V39A11.013,11.013,0,0,0,49,28H39a1,1,0,0,0-1,1V46H33.733l3.241-13.771A1.982,1.982,0,0,0,37,32V26h5a5.006,5.006,0,0,0,5-5,1,1,0,0,0-1-1H32a1,1,0,0,0-1,1v6H3a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h.208L7.026,49.229A1,1,0,0,0,8,50h2.138a7.037,7.037,0,0,0-1.453,2H5a1,1,0,0,0-1,1v2a3,3,0,0,0,3,3H8.685a6.985,6.985,0,0,0,12.63,0h21.37a6.985,6.985,0,0,0,12.63,0H59a3,3,0,0,0,3-3V53A1,1,0,0,0,61,52ZM8.08,56H7a1,1,0,0,1-1-1V54H8.08a6.29,6.29,0,0,0,0,2ZM44,30h5a9.011,9.011,0,0,1,8.941,8H56V36a1,1,0,0,0-2,0v2H45a1,1,0,0,1-1-1ZM38,48v4H29V49a1,1,0,0,1,1-1ZM4,29H32a1,1,0,0,0,1-1V22H44.829A3.006,3.006,0,0,1,42,24H36a1,1,0,0,0-1,1v6H4Zm24,4v5.5a.5.5,0,0,1-1,0V33Zm-7,0v8.5a.5.5,0,0,1-1,0V33Zm-7,0v5.5a.5.5,0,0,1-1,0V33ZM8.792,48,5.263,33H11v5.5a2.5,2.5,0,0,0,5,0V33h2v8.5a2.5,2.5,0,0,0,5,0V33h2v5.5a2.5,2.5,0,0,0,5,0V33h4.737L31.678,46H30a3,3,0,0,0-2.816,2Zm11.1,2H27v2H21.315A7.033,7.033,0,0,0,19.89,50ZM15,60a5,5,0,1,1,5-5A5.006,5.006,0,0,1,15,60Zm6.92-4a6.29,6.29,0,0,0,0-2H42.08a6.29,6.29,0,0,0,0,2ZM49,60a5,5,0,1,1,5-5A5.006,5.006,0,0,1,49,60Zm0-12a7,7,0,0,0-6.315,4H40V30h2v7a3,3,0,0,0,3,3H58v2H55a3,3,0,0,0,0,6h3v4H55.315A7,7,0,0,0,49,48Zm9-4v2H55a1,1,0,0,1,0-2Zm2,11a1,1,0,0,1-1,1H55.92a6.29,6.29,0,0,0,0-2H60Z"/></g></svg>


</div>