@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e6iakm');
  src:  url('fonts/icomoon.eot?e6iakm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e6iakm') format('truetype'),
    url('fonts/icomoon.woff?e6iakm') format('woff'),
    url('fonts/icomoon.svg?e6iakm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e901";
}
.icon-emailmailmarkunreadlocal_post_office:before {
  content: "\e902";
}
.icon-location_onplaceroom:before {
  content: "\e903";
}
.icon-clearclose:before {
  content: "\e900";
}
.icon-local_grocery_storeshopping_cart:before {
  content: "\e904";
}
.icon-local_shipping:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e909";
}
.icon-thumb_up_alt:before {
  content: "\e906";
}
.icon-grid_view:before {
  content: "\e907";
}
.icon-home_filled:before {
  content: "\e908";
}
