$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-call: "\e901";
$icon-emailmailmarkunreadlocal_post_office: "\e902";
$icon-location_onplaceroom: "\e903";
$icon-clearclose: "\e900";
$icon-local_grocery_storeshopping_cart: "\e904";
$icon-local_shipping: "\e905";
$icon-menu: "\e909";
$icon-thumb_up_alt: "\e906";
$icon-grid_view: "\e907";
$icon-home_filled: "\e908";

